[Unit]
Description=Serial Bridge to Forward ESP32 Data to Backend
After=network.target smoker-backend.service

[Service]
User=juliusjj25
WorkingDirectory=/home/juliusjj25/smoker-backend
ExecStart=/home/juliusjj25/smoker-backend/venv/bin/python3 /home/juliusjj25/smoker-backend/serial_bridge.py
Restart=always

[Install]
WantedBy=multi-user.target
